# Чувствительные данные
.env

reset_and_create.py

# Логи
terminal_logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Виртуальное окружение
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
